.panel__header {
    padding: 14px 18px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel__title {
    margin: 0;
    font-size: 1.3rem;
}

.panel__options {
    display: flex;
    align-items: center;
}
