<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LIFX Light Control</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>LIFX Light Control</h1>
                <h4>Built with Flask, Svelte and the <a href="https://github.com/mclarkk/lifxlan" target="_blank">lifxlan</a> library.</h4>
            </header>
            <main id="app"></main>
            <script src="/static/js/bundle.js"></script>
        </div>
    </body>
</html>
